<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
  </head>
  <body>
    <form action="/criar-post" method="get">
      <button type="submit">Criar Post</button>
    </form>

    <div  class="posts">
      <% for( let item = 0; item < post.length; item++ ) { %>
        <div class="post">
          <p><%= post[item].title %></p>
          <p><%= post[item].resume %></p>
          <p><%= post[item].content %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
